.products-container {
    padding: 1rem;
}

.cart-deck {
    background-color: white;
    min-width: 320px;
    min-height: 350px;
    border: 2px solid #f2f2f2;
    border-radius: 15px;
    box-shadow: 0 5px 15px #f2f2f2;
}

.cart-img-top {
    width: 200px;
    margin: 1rem 0;
    padding: 10px 0;
    transition: transform .2s;
}

.cart-img-top:hover {
    filter: brightness(0.8);
    transform: scale(1.2);
}

.cart-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0.5rem 0;
}

.cart-text {
    font-size: 14px;
    margin: 0.5rem 0;
}